@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{  
    font-family: "JetBrains Mono" , monospace;
    margin: 0;
    padding: 0;
}

body{
    background-color: #0E272F;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/*nav-bar*/
.nav-bar{
   border-bottom: 1px solid #25808E;
    color: #D9D9D9;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
}

.logo{
    
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.2rem;
}
.search-bar{
    width: 50%;
    height: 50%;
}
.search-bar:hover{
    transform: scale(1.02) ;
    -webkit-transition: all .3s;
}
.input{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #25808E;
    border: none;
    color: #D9D9D9;
    letter-spacing: 0.2rem;
    padding-left: 15px;
}

::placeholder{
    color: #D9D9D9;
    text-size-adjust: bold;
}

.input:focus{
    outline: none;
}

.sign-button{
    background-color: #25808E;
    border-radius: 15px;
    justify-content: center;
    padding: 0.7%;
    color: #04141A;
    text-decoration: none;
}
.sign-button:hover{
    transform: scale(1.02);
    -webkit-transition: all .3s;
   color: #D9D9D9;
}


/*main-container*/

.main-container{
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100%;
    
}


.side-bar{
    display: flex;
    flex-direction: column;
    gap: 25%;
    width: 15%;
    align-items: center;    
    border-right:1px solid #25808E ;
    justify-content: space-evenly;
    height: 100%;
}


.post{
    width: 50%;
    display: flex;
    align-items: center;
}

.post-button{
    text-align: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    background-color: #25808E;
    border-radius: 15px;
    height: 50px;
    color: #D9D9D9;
    padding: 5%;
    border: 0;
}

.bk-title{
    align-self: center;
    width: 100%;
    text-align: center;
}
.tab-container{
    display: flex;
    height: 20vh;
    flex-direction: column;
    justify-content: space-between;
    
   
}

.tab{
    text-decoration: none;
    color: #D9D9D9;
}

.tab:hover{
    transform: scale(1.02);
    -webkit-transform:all .3s ;
}

/*index style*/
.core-page{
    color: #D9D9D9;
    width: 70%;
    height: 100%;
    overflow-y: scroll;

}

::-webkit-scrollbar{
    background-color: #153E4A;
    border-radius: 25px;
    padding-top:15px ;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #25808E;
    border-radius: 25px;
}


.posts-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
}
.post-card{
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius:15px;
    background-color: #25808E;
    margin: 2%;
    
}
.post-card:hover{
    transform: scale(1.02);
    -webkit-transition: all .3s;
    
}
.post-info{
    background-color: #153E4A;
    width: 100%;
    border-radius:15px 15px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-user{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1%;
    padding-left: 2%;
    gap: 5px;
    align-items: center;
}
.user-avatar{
    border-radius: 50px;
    width: 25px;
    height: 25px;
}



.post-time{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1%;
}

.post-interactions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    border-top: 1px solid #153E4A;
}
.post-data{
    padding: 1%;
}
.post-title{
    font-size: 1.2rem;
    padding: 1%;
    word-wrap: break-word;
}

.post-text{
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    width: 250px;
    padding-left: 1%;
}

.post-votes{
    margin-top: 1%;
    display: flex;
    flex-direction:column ;
}
.post-likes{
    margin-top: 1%;
    display: flex;
    flex-direction:column ;
}
.post-comments{
    margin-top: 1%;
    display: flex;
    flex-direction:column ;
}

.upvotes{
    display: flex;
    flex-direction: row;
}
.downvotes{
    display: flex;
    flex-direction: row;
}
.downvotes>svg{
    rotate: z 180deg;
}
a{
    text-decoration: none;
    color: #D9D9D9;
}

/*real post*/

.full{
    width: 100%;
    margin: 0;
    border-radius: 0;
    
}


.full:hover{
    transform: none;
}

.comment-container{
    display: flex;
    justify-content: flex-end;
}

.post-active{
    display: none;
    position: absolute;
    top: 15%;
    left: 23%;
    z-index: 1000;
    width: 50%;
}
.cloud-bg{
    display: none;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100vh;
    filter: blur(15px);
    background-color: gray;
    opacity: 0.8;
}
.post-stuff{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #25808E;
    border-radius: 25px;
    padding-top: 1%;
}
.post-title-active{
    padding-left: 15px;
    width: 98%;
    height: 50px;
    background-color: #153E4A;
    border: 0;
    border-bottom: 1px solid #25808E;
    color:#D9D9D9;
}

.post-title-active:focus{
    outline: none;
}
.post-btn-container{
    padding: 1%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.post-active-input{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1%;
    align-items: center;
}
.post-btn-active{
    width: 125px;
    padding: 0;
    height: 55px;
    margin-right: 2%;
    background-color: #04141A;
    color: #D9D9D9;
    border-radius: 25px;
    border: 0;
}
.post-data-active{
    padding-top: 15px;
    padding-left: 15px;
    width: 98%;
    height: 250px;
    background-color: #153E4A;
    border: 0;
    color: #D9D9D9;
}
.post-data-active:focus{
    outline: none;
}


.profile-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    gap: 25px;
}

.profile-btn{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.profile-btn>a{
    background-color: #25808E;
    padding: 15px;
    border-radius: 15px;
}
.modifie>form{
    padding: 2%;
}
.profile-input{
    margin-top: 5%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.profile-input>input{
    padding: 2%;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    border: 0;
    background-color: #25808E;
    color: #D9D9D9;
    align-items: center;
}
.profile-input>input:focus{
    outline: none;
}
.profile-btn{
    width: 50%;
}

.input-file::-webkit-file-upload-button{
    background-color: transparent;
    height: 100%;
    width: 50%;
    border: 0;
    border-radius: 15px;
    color: #D9D9D9;
}
.input-btn{
    background-color: #25808E;
    height: 35px;
    width: 50%;
    border: 0;
    border-radius: 15px;
    color: #D9D9D9;
}

.submit{
    align-items: center;
}

.close-btn{
    width: 90%;
    padding: 2%;
    display: flex;
    justify-content: flex-end;
}
.authenticated{
    display: flex;
    flex-direction: row;
    width: 15%;
    height: 70%;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: bold;
}
.authenticated>p{
    display: flex;
    flex-direction: row;
}
.user-image-container-uauthenticated{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    align-items: center;
}
.user-image-container{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    align-items: center;
    padding-left: 25%;
}
.comment-user-image-container{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    align-items: center;
    padding-left: 25%;
}
.user-image{
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    margin: 2%;
}

.comment-input{
    width: 95%;
    height: 50px;
    background-color: #25808E;
    color: #D9D9D9;
    border: 0;
    border-top: 1px solid #153E4A;
    padding-left: 2%;
}
.comment-post{
    width: 15%;
    background-color: transparent;
    border: 0;
    color: #D9D9D9;
    border-top: 1px solid #153E4A;
    border-left: 1px solid #153E4A;
}

.comment-input:focus{
    outline: none;
}