<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/sstyle.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        
        <div class="title">S'indentifier</div>
        <div class="input-container">
            <form action="" method="POST" >
                {% csrf_token %}
                <div class="a">
                <input type="text" placeholder="entrer votre e-mail" name="email" required>
                <input type="password" placeholder="entrer votre mot de passe" name="password"  required>
                <p style="color: #D9D9D9;">{{message}}</p>
                </div>
                <div class="connection-btn-container">
                    <input type="submit" value="Se conneter" class="connection-btn" >
                    <input type="button" value="home" class="connection-btn" onclick="location.href='{% url 'home' %}';" />

                </div>
            </form >

        </div>
        <div class="ma3art-chno">
            <p>Vous n'avez pas de compte?<span><a href="{% url 'mysignup' %}">Créez en un.</a></span></p>
        </div>
    </div>
</body>
</html>