{% extends 'base.html' %}
{% load static %}
{% block title %}Acceuil{% endblock %}

{% block content %}




{% for post_data in posts_data %}
        <div class="posts-container">
            
            <div class="post-card">
                <div class="post-info">
                    <div class="post-user">
                        <div class="user-data">
                            <div class="user-avatar"><img src="#" alt=""></div>
                        </div>
                        <p class="user-username">{{post_data.post.user.fname}} {{post_data.post.user.lname}}</p>
                    </div>
                    <div class="post-time">{{post_data.timedelta}}</div>
                </div>
                <a href="{% url 'spost' post_id=post_data.post.pk%}">
                <div class="post-data">
                    <div class="post-title">{{post_data.post.title}}</div>
                    <div class="post-text ">{{post_data.post.text}}</div>
                </div>
                </a>
                <div class="post-interactions">
                    <div class="post-votes">
                        <a href="#">
                            <div class="upvotes">
                                <svg width="10" height="10" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 16V2M9 2L2 9M9 2L16 9" stroke="#D9D9D9" stroke-width="4" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                                <sub>{{post_data.likes}}</sub>
                            </div>
                        </a>
                        <a href="#">
                            <div class="downvotes">
                                <svg width="10" height="10" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 16V2M9 2L2 9M9 2L16 9" stroke="#D9D9D9" stroke-width="4" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                                <sub>{{post_data.dislikes}}</sub>
                            </div>
                        </a>
                    </div>
                    
                    <a href="#">
                        <div class="post-comments">
                            <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4 44V8C4 6.9 4.39167 5.95833 5.175 5.175C5.95833 4.39167 6.9 4 8 4H40C41.1 4 42.0417 4.39167 42.825 5.175C43.6083 5.95833 44 6.9 44 8V32C44 33.1 43.6083 34.0417 42.825 34.825C42.0417 35.6083 41.1 36 40 36H12L4 44ZM10.3 32H40V8H8V34.25L10.3 32Z"
                                    fill="#D9D9D9" />
                            </svg>
                            <sub>{{post_data.commentcount}}</sub>
                        </div>
                    </a>
                    <a href="#">
                        {% if post_data.bookmarked %}
                        <div class="post-bookmark">
                            <svg width="20" height="20" viewBox="0 0 48 48" fill="white" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M38 42L24 32L10 42V10C10 8.93913 10.4214 7.92172 11.1716 7.17157C11.9217 6.42143 12.9391 6 14 6H34C35.0609 6 36.0783 6.42143 36.8284 7.17157C37.5786 7.92172 38 8.93913 38 10V42Z"
                                    stroke="#D9D9D9" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        {% else %}
                        <div class="post-bookmark">
                            <svg width="20" height="20" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M38 42L24 32L10 42V10C10 8.93913 10.4214 7.92172 11.1716 7.17157C11.9217 6.42143 12.9391 6 14 6H34C35.0609 6 36.0783 6.42143 36.8284 7.17157C37.5786 7.92172 38 8.93913 38 10V42Z"
                                    stroke="#D9D9D9" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        {% endif %}
                </div>
                </a>

            </div>
            
        </div>
        {% empty %}
        nothing

    {% endfor %}



{% endblock %}
